
@using Microsoft.AspNetCore.Http

@{ ViewData["Title"] = "Home Page";
    var username = Context.Session.GetString("Username"); // Ambil username dari session
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (!string.IsNullOrEmpty(username))
    {
        <p>Hello, @username!</p> <!-- Tampilkan pesan dengan username --> }
    else
    {
        <p>Please login to access more features.</p>
    }
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
